
@{
    ViewBag.Title = "test";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>test</h2>
@using (Html.BeginForm("test", "Home"))
{
    <tfoot>

        
        <tr>
            <td>
                <input type="text" name="mail" />
            </td>
            <td>
                <input type="submit" class="btn-btn-s" />
            </td>
        </tr>

    </tfoot>
}




