
@{
    ViewBag.Title = "Camon";
    Layout = "~/Views/Shared/cartlayout.cshtml";
}

<h1 style="color:red; margin-left:500px; margin-top: 300px;">Đặt Hàng  Thành Công </h1>
<h2 style="margin-left: 450px;">Cảm ơn bạn đã mua hàng ở shop</h2>
<h3 style="margin-left: 300px;"> Nhân viên sẽ gọi điện thoại cho bạn để chốt đơn sau vài phút nửa</h3>
<button style="margin-left: 630px;"> <a href="~/Home/Trangchu">Tiếp Tục mua sắp</a></button>

